body{
    background-color: cornflowerblue;
}

.header{
    text-align: center;
}

#centerList{
    justify-content: center;
    display: flex;
}

@media (min-width:600px){

.masterContainer{
    display:flex;
}

.containerLeft{
    border: 1px solid;
    order:1;
    flex: 1;
    justify-content: center ;
    background-color: gainsboro;
    

}

.containerRight{
    order:3;
    flex-direction: row;
    border: solid 1px;
    flex: 1;
    justify-content: center;
    background-color: gainsboro;
}

.containerRight, .containerLeft{
    flex-direction: row;
}

.containerCenter{
    order:2;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    text-align: center;
    border: 1px solid;
    margin-left: 5pt;
    margin-right: 5pt;
    background-color:khaki;

}
}


/*When screen is smaller the 600px stack containers*/

@media (max-width:599px){
   .containerLeft{
    border: 1px solid;
    order:1;
    flex: 1;
    justify-content: center;
    background-color: gainsboro;
    

}

.containerRight{
    order:3;
    flex-direction: row;
    border: solid 1px;
    flex: 1;
    justify-content: center;
    background-color: gainsboro;
}

.containerRight, .containerLeft{
    padding: 10px;
    flex-direction: row;
}

.containerCenter{
    order:2;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    text-align: center;
    border: 1px solid;
    margin-left: 5pt;
    margin-right: 5pt;
    background-color:khaki;
}

}


